API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXX          #Input your api_key if it is needed
SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXX          #Input your secret_key if it is needed
DEBUG=True                        
LOGIN=XXXXXXXXXXXXXXXXXXXXXXX               #Input your login
PASSWORD=XXXXXXXXXXXXXXXXXXXXXXX            #Input your password
BASE=XXXXXXXXXXXXXXXXXXXXXXX                #Input base currency for trade, as KUB
QUOTE=XXXXXXXXXXXXXXXXXXXXXXX               #Input base national money, as UAH
TRADING_PAIR=BASE/QUOTE                     #Input trading pair as BASE/QUOTE
PRICE=XXXXXXXXXXXXXXXXXXXXXXX               #Input currency price as stable price, according to the format of your QUOTE_PRECISION
BASE_ORDER_LIMIT=XXXXXXXXXXXXXXXXXXXXXXX    #Input limit BASE for random trade with yourself, according to the format of your BASE_PRECISION and this parametrs should be <= count your BASE on hands
DEVIATION=XXXXXXXXXXXXXXXXXXXXXXX           #Input limit price for random trade with yourself, according to the format of your PRICE
BASE_MIN_BALANCE=XXXXXXXXXXXXXXXX           #Input limit BASE for end bot, according to the format of your BASE_PRECISION
QUOTE_MIN_BALANCE=XXXXXXXXXXXXXXXX          #Input limit QUOTE for end bot, asaccording to the format of your QUOTE_PRECISION
BASE_PRECISION=XXXXXXXXXXXXXXXXXXX          #Input PRECISION, asaccording to the format of your BASE
QUOTE_PRECISION=XXXXXXXXXXXXXXXXXX          #Input PRECISION, asaccording to the format of your QUOTE
TIME_REQUEST=XXXXX                          #Input time request in seconds
API_URL='http://127.0.0.1/public/v1'        #Input main URL for api
