API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXX          #Input your api_key if it is needed
SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXX          #Input your secret_key if it is needed
DEBUG=True                        
LOGIN=XXXXXXXXXXXXXXXXXXXXXXX               #Input your login
PASSWORD=XXXXXXXXXXXXXXXXXXXXXXX            #Input your password
BASE=XXXXXXXXXXXXXXXXXXXXXXX                #Input base currency for trade, as KUB
QUOTE=XXXXXXXXXXXXXXXXXXXXXXX               #Input base national money, as UAH
TRADING_PAIR=BASE/QUOTE                     #Input trading pair as BASE/QUOTE
PRICE=XXXXXXXXXXXXXXXXXXXXXXX               #Input currency price as stable price, according to the format of your precision
LIMIT_TRADE=XXXXXXXXXXXXXXXXXXXXXXX         #Input limit trade for random trade with yourself, according to the format of your precision
DEVIATION=XXXXXXXXXXXXXXXXXXXXXXX           #Input limit price for random trade with yourself, according to the format of your precision
BASE_MIN_BALANCE=XXXXXXXXXXXXXXXX           #Input limit BASE for end bot, according to the format of your precision 
QUOTE_MIN_BALANCE=XXXXXXXXXXXXXXXX          #Input limit QUOTE for end bot, asaccording to the format of your precision
BASE_PRECISION=XXXXXXXXXXXXXXXXXXX          #Input PRECISION, asaccording to the format of your BASE