API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXX          #Input your api_key if it is needed
SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXX          #Input your secret_key if it is needed
DEBUG=True                        
LOGIN=XXXXXXXXXXXXXXXXXXXXXXX               #Input your login
PASSWORD=XXXXXXXXXXXXXXXXXXXXXXX            #Input your password
BASE_CURRENCY=XXXXXXXXXXXXXXXXXXXXXXX       #Input base currency for trade, as KUB
BASE_MONEY=XXXXXXXXXXXXXXXXXXXXXXX          #Input base national money, as UAH
TRADING_PAIR=XXXXXXXXXXXXXXXXXXXXXXX        #Input trading pair as BASE_CURRENCY/BASE_MONEY
CURRENCY_PRICE=XXXXXXXXXXXXXXXXXXXXXXX      #Input currency price as staible price, as x.xx
LIMIT_TRADE=XXXXXXXXXXXXXXXXXXXXXXX         #Input limit trade for random trade with yourself as x.xx
LIMIT_PRICE=XXXXXXXXXXXXXXXXXXXXXXX         #Input limit price for random trade with yourself as x.xx
LIMIT_FOR_END_BOT=XXXXXXXXXXXXXXXXXXXXXXX   #Input limit for end bot as x.xx 